<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/experience.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Tsushima LLC</title>
</head>
<body class="content">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://huyle.greenriverdev.com/328/Application">
                <!--SVG logo-->
                <svg class="icon" fill="#000000" height="78px" version="1.1" viewBox="0 0 1024 1024"
                     width="78px" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                    </g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M512 960c-92.8 0-160-200-160-448S419.2 64 512 64s160 200 160 448-67.2 448-160 448z m0-32c65.6 0 128-185.6 128-416S577.6 96 512 96s-128 185.6-128 416 62.4 416 128 416z"
                              fill="#050D42">
                        </path>
                        <path d="M124.8 736c-48-80 92.8-238.4 307.2-363.2S852.8 208 899.2 288 806.4 526.4 592 651.2 171.2 816 124.8 736z m27.2-16c33.6 57.6 225.6 17.6 424-97.6S905.6 361.6 872 304 646.4 286.4 448 401.6 118.4 662.4 152 720z"
                              fill="#050D42"></path>
                        <path d="M899.2 736c-46.4 80-254.4 38.4-467.2-84.8S76.8 368 124.8 288s254.4-38.4 467.2 84.8S947.2 656 899.2 736z m-27.2-16c33.6-57.6-97.6-203.2-296-318.4S184 246.4 152 304 249.6 507.2 448 622.4s392 155.2 424 97.6z"
                              fill="#050D42"></path>
                        <path d="M512 592c-44.8 0-80-35.2-80-80s35.2-80 80-80 80 35.2 80 80-35.2 80-80 80zM272 312c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48zM416 880c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z m448-432c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z"
                              fill="#e1d275"></path>
                    </g>
                </svg>
                Tsushima LLC
            </a>
            <!--SVG logo-->
            <!-- Apply Now Button -->
            <div class="p-2 flex-shrink-1 bd-highlight">
                <a class="btn btn-primary apply" href="https://huyle.greenriverdev.com/328/Application">Apply Now</a>
            </div>
            <!-- Apply Now Button -->
        </div>
    </nav>
    <div class="container">

    <!-- MAILING-LIST -->
    <div class="main align-items-start p-4">
        <form action="mail" method="post" class="form-horizontal">
            <h1>Job Openings Mailing Lists Page</h1>
            <hr>
            <br>
            <label class="form-label fw-bold mt-1">Software Development Jobs
            </label><br>
            <br>
                <div>
                    <div class="col-lg-12">

                        <div class="form-group">
                            <div class="row">

                                <div class="col-3">
                                    <input type="checkbox" id="javascript" name="tech[]" value="JavaScript">
                                    <label class="form-check-label" for="javascript">JavaScript</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="php" name="tech[]" value="PHP">
                                    <label class="form-check-label" for="php">PHP</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="java" name="tech[]" value="Java">
                                    <label class="form-check-label" for="java">Java</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="python" name="tech[]" value="Python">
                                    <label class="form-check-label" for="python">Python</label>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-3">
                                    <input type="checkbox" id="html" name="tech[]" value="HTMl">
                                    <label class="form-check-label" for="html">HTML</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="css" name="tech[]" value="CSS">
                                    <label class="form-check-label" for="css">CSS</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="reactjs" name="tech[]" value="React JS">
                                    <label class="form-check-label" for="reactjs">ReactJS</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="nodejs" name="tech[]" value="Node JS">
                                    <label class="form-check-label" for="nodejs">NodeJs</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label fw-bold mt-1">Industry Verticals</label><br><br>
                            <div class="row">

                                <div class="col-3">
                                    <input type="checkbox" id="saas" name="ind[]" value="SaaS">
                                    <label class="form-check-label" for="saas">SaaS</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="health-tech" name="ind[]" value="Health Tech">
                                    <label class="form-check-label" for="health-tech">Health tech</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="ag-tech" name="ind[]" value="AG Tech">
                                    <label class="form-check-label" for="ag-tech">Ag tech</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="hr-tech" name="ind[]" value="HR Tech">
                                    <label class="form-check-label" for="hr-tech">HR tech</label><br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <input type="checkbox" id="industrial-tech" name="ind[]" value="Industrial Tech">
                                    <label class="form-check-label" for="industrial-tech">Industrial tech</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="cyber-security" name="ind[]" value="Cybersecurity">
                                    <label class="form-check-label" for="cyber-security">Cybersecurity</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SUBMIT -->
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-success fw-bold" id="submit-button">
                                Next >
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

<!-- FOOTER -->
<footer class="copyright text-center">
</footer>
</body>
</html>