<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/experience.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Tsushima LLC</title>
</head>
<body class="content">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://huyle.greenriverdev.com/328/Application">
                <!--SVG logo-->
                <svg class="icon" fill="#000000" height="78px" version="1.1" viewBox="0 0 1024 1024"
                     width="78px" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                    </g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M512 960c-92.8 0-160-200-160-448S419.2 64 512 64s160 200 160 448-67.2 448-160 448z m0-32c65.6 0 128-185.6 128-416S577.6 96 512 96s-128 185.6-128 416 62.4 416 128 416z"
                              fill="#050D42">
                        </path>
                        <path d="M124.8 736c-48-80 92.8-238.4 307.2-363.2S852.8 208 899.2 288 806.4 526.4 592 651.2 171.2 816 124.8 736z m27.2-16c33.6 57.6 225.6 17.6 424-97.6S905.6 361.6 872 304 646.4 286.4 448 401.6 118.4 662.4 152 720z"
                              fill="#050D42"></path>
                        <path d="M899.2 736c-46.4 80-254.4 38.4-467.2-84.8S76.8 368 124.8 288s254.4-38.4 467.2 84.8S947.2 656 899.2 736z m-27.2-16c33.6-57.6-97.6-203.2-296-318.4S184 246.4 152 304 249.6 507.2 448 622.4s392 155.2 424 97.6z"
                              fill="#050D42"></path>
                        <path d="M512 592c-44.8 0-80-35.2-80-80s35.2-80 80-80 80 35.2 80 80-35.2 80-80 80zM272 312c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48zM416 880c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z m448-432c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z"
                              fill="#e1d275"></path>
                    </g>
                </svg>
                Tsushima LLC
            </a>
            <!--SVG logo-->
            <!-- Apply Now Button -->
            <div class="p-2 flex-shrink-1 bd-highlight">
                <a class="btn btn-primary apply" href="https://huyle.greenriverdev.com/328/Application">Apply Now</a>
            </div>
            <!-- Apply Now Button -->
        </div>
    </nav>

    <div class="container">
        <h1>Summary</h1>
        <br>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                        <p><strong>Name:</strong>
                            {{ @first_name . " " . @last_name}}
                        </p>
                        <hr>
                        <p><strong>Email: </strong>{{ @email }}</p>
                        <hr>
                        <p><strong>State: </strong>{{ isset(@state) ? @state : 'Not provided' }}</p>
                        <hr>
                        <p><strong>Phone: </strong>{{ @phone }}</p>
                        <hr>
                        <p><strong>GitHub: </strong>{{ isset(@github) ? @github : 'Not provided' }}</p>
                        <hr>
                        <p><strong>Experience: </strong>{{ @experience }}</p>
                        <hr>
                        <p><strong>Willing to Relocate: </strong>{{ isset(@relocate) ? @relocate : 'Not provided' }}</p>
                        <hr>
                        <p><strong>Mailing Lists: </strong>
                            {{ is_array(@selected_technologies) && count(@selected_technologies)
                            ? implode(', ', array_map('ucfirst', @selected_technologies))
                            : 'Not provided' }}
                        </p>
                        <hr>
                        <p><strong>Industry Lists: </strong>
                            {{ is_array(@selected_industries) && count(@selected_industries)
                            ? implode(', ', array_map('ucfirst', @selected_industries))
                            : 'Not provided' }}
                        </p>
                        <hr>
                </div>
                <div class="col-6"><img src="./images/bio.jpeg" class="w-100" alt="bio-pic"></div>
                <div class="col-6" ></div>
                <div class="col-6 bo">
                    <h3>Summary</h3>
                    <div class="form-group">
                        <p>{{ isset(@bio) ? @bio : 'Not provided' }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center t-2 ">
                <a href="#" class="btn btn-success submit w-75">Submit My Application</a>
            </div>
        </div>
    </div>



</body>
</html>